.logo {
    margin-left: 20px;
}
.Kumenu{
    margin-right: 20px;
}
.listMenu{
    margin-right: 20px;
}
#listDokter{
    margin: 20px;
    margin-top: 40px;
    margin-left: 40px;
}
.slide{
    height: 500px;
}